{
    "semi": true,
    "singleQuote": false,
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "tabWidth": 4,
    "useTabs": true,
    "trailingComma": "es5"
}